<?xml version="1.0"?>

<model>
  <name>Quadrotor IMU, Camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <author>
    <name>Mykola Dolhyi</name>
    <email>0xb000@gmail.com</email>
  </author>

  <description>
    A quadcopter model with IMU and Camera
  </description>
</model>
